<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <style type="text/css">
        .li {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 20px;
            display: block;
            align-items: center;

        }

        #groupDiv {
            align-items: center;
        }

        .smpark {
            width: 100%;
            display: flex;
            align-items: center;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
        </ul>
    </div>
</nav>
<!-- list Group    -->
<div class="list-group" id="groupDiv">
    <a class="list-group-item list-group-item-action active" href="#">
        학생 상세정보
    </a>
    <div class="smpark">
        <a class="list-group-item list-group-item-action li"
           style="margin-top: 8%" th:href="@{/students/report/{student_id}(student_id=${student.id})}">학생 성적 관리</a>
    </div>
    <div class="smpark">
        <a class="list-group-item list-group-item-action li" href="#" style="margin-top: 8%">학생 출결 관리</a>
    </div>
    <div class="smpark">
        <a class="list-group-item list-group-item-action li" href="#" style="margin-top: 8%">학생 </a>
    </div>
    <div class="smpark">
        <a class="list-group-item list-group-item-action disabled li" href="#" style="margin-top: 8%">Vestibulum at
            eros</a>
    </div>
</div>
</body>
</html>